@page "/"

<PageTitle>Countries List</PageTitle>

<UseGetContinents Context="result">
    <ChildContent>

        <!-- Take first continent and set it as selectedContinent -->
        @if (result.Continents != null && _selectedContinent == null)
        {
            _selectedContinent = result.Continents.First()!.Code;
        }

        <select @onchange="SelectContinent">
            @foreach (var continent in result.Continents!)
            {
                <option value="@continent!.Code">@continent.Name</option>
            }
        </select>
    </ChildContent>
    <ErrorContent>
        Something went wrong ...<br/>
        @result.First().Message
    </ErrorContent>
    <LoadingContent>
        <p>Loading continents...</p>
    </LoadingContent>
</UseGetContinents>

@functions
{
    private string? _selectedContinent;

    private async Task SelectContinent(ChangeEventArgs args)
    {
        await Task.Run(() => _selectedContinent = args.Value?.ToString());
    }
}